.card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 25 25 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
}
.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}
.rightSection {
  display: flex;
  align-items: center;
  gap: 8px;
}
