.tableHeader {
  display: grid;
  grid-template-columns: 0.8fr 2fr 1.4fr 2fr 1.2fr 1.2fr 0.8fr;
  align-items: center;
  padding: 12px 40px;
  column-gap: 20px;
  background-color: #f5f5f5;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
}
