.sectionTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  gap: 12px; /* spacing between Tab components */
}
