.tab {
  display: flex;
  background-color: #ffffff;
  color: #4a5565;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.icon {
  margin-right: 15px;
  color: #4a5565;
}
.label {
  font-size: 18px;
  font-weight: 600;
}
.active {
  background-color: #4f39f6;
  color: #ffffff;
}
.activeIcon {
  color: #ffffff;
}
