.myRentals {
  min-height: 100vh;
  background: #f2f7fe;
}

.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 24px;
}

.hero .contents {
  padding: 16px 24px;
}

.cards {
  display: flex;
  justify-content: center;
}
