.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rentalMetaCards {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.centerButton {
  align-self: center;
  margin: 0 auto;
}
