.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 0;
  gap: 12px;
}
.centerButton {
  margin: 0 auto;
}
