.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: antiquewhite; */
  margin-top: 10px;
  gap: 10px;
}
label {
  font-size: 0.95rem;
  color: #5b6069;
  font-weight: 300;
  min-width: 80px;
}
.stats {
  display: flex;
  flex-direction: column;
}

.stat {
  font-size: 1rem;
  color: #1f2a44;
  font-weight: 600;
}
