.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 0;
  gap: 12px;
}
.imagePane {
  background-color: green;
  width: 40%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.centerButton {
  margin: 0 auto;
}
